MODEL_RUNNER_HOST=http://model-runner.docker.internal # The URL where the model runner service is hosted.
API_WS_URL=ws://api.llm:3030/ws/workers # The WebSocket URL for the API that workers will connect to.
WORKER_USER_API_KEY=your-worker-api-key-here # API key for the worker to authenticate with the API. Must create the user first
WORKER_MODEL=ai/gemma4:E4B # The model that the worker will serve. This should correspond to a model available in the model runner.
WORKER_TPS=200 # The maximum number of tokens per second the worker can process.
WORKER_PRICE=10 # The price for using the worker's services.
WORKER_TOKEN=your-worker-token-here # A unique token to identify the worker. If the worker is new, it will receive a token upon registration.