# Database configuration
MYSQL_DATABASE=database_name
MYSQL_ROOT_PASSWORD=your_mysql_root_password

# API configuration
API_WS_PORT=3030 # The port on which the API WebSocket server will listen.
WORKER_ROUTE=/ws/workers # The route for worker WebSocket connections.
PLATFORM_FEE_PERCENT=0 # The percentage fee that the platform takes from each order.

# API key encryption configuration
ENCRYPTION_SECRET=some-very-long-and-secure-secret-that-is-kept-safe-and-stable # A secret key used for encrypting API keys.
ENCRYPTION_SALT=locallmarket/api-key-encryption # A salt value used in the encryption process to enhance security.
LOOKUP_SALT=locallmarket/api-key-lookup # A salt value used for hashing API keys for lookup purposes.